@model Cloth_Rental_System.Models.Product_Model


<tr id="ProductListRow1">
    <td>
        @*@{Html.RenderAction("_Product_DropDown", "Product_Order");}*@
        @Html.DropDownListFor(m => m.PrdId, Model.productList, "Please select product",new { @class = "form-control", @id="DropSearch_1" })
    </td>

    <td id="sel_prd">
        @Html.TextBoxFor(m => m.rentPrice, new { @id = "Product_rentPrice_2", @placeholder = "Product Rent", @type = "number", @class = "form-control" })
</td>

<td id="sel_prd">
    @Html.TextBoxFor(m => m.advanceRent, new { @placeholder = "", @type = "number", @class = "form-control" })
</td>

<td id="sel_prd">
    @Html.TextBoxFor(m => m.diposit, new { @placeholder = "", @type = "number", @class = "form-control" })
</td>


<td id="sel_prd">
    <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
</td>
</tr>




