@model Cloth_Rental_System.Models.Product_Model

@{
    Model.virtualPrdId = string.IsNullOrEmpty(Convert.ToString(Model.virtualPrdId))?1:Model.virtualPrdId;
}
<tr id="ProductListRow1" data-Id="product_@Model.virtualPrdId.ToString()">
    <td>
        @*@{Html.RenderAction("_Product_DropDown", "Product_Order");}*@
        @Html.DropDownListFor(m => m.PrdId, Model.productList, "Please select product",new { @class = "form-control", @id="DropSearch_1" })
    </td>

    <td id="sel_prd">
        @Html.TextBoxFor(m => m.rentPrice, new { @id = "Product_rentPrice", @placeholder = "Product Rent", @type = "number", @class = "form-control" })
</td>

<td id="sel_prd">
    @Html.TextBoxFor(m => m.advanceRent, new { @id= "Product_advanceRent", @placeholder = "", @type = "number", @class = "form-control" })
</td>

<td id="sel_prd">
    @Html.TextBoxFor(m => m.diposit, new { @id = "Product_diposit", @placeholder = "", @type = "number", @class = "form-control" })
</td>


<td id="sel_prd">
    <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
</td>
</tr>




