@model Cloth_Rental_System.Models.Order_Product_Model

@{
    ViewBag.Title = "Rent_Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Content_Header{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Rent Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product Order</a></li>
                    <li class="breadcrumb-item active">Rent Product</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Rent Product</h3>
    </div>
    <div>

    </div>

    @using (Html.BeginForm("Rent_Product", "Product_Order", FormMethod.Post))
    {
        <div class="card-body">

            <div class="row">

                <div class="form-group col-md-10">
                    <label for="exampleInputEmail1">Customer Name</label>
                    @{Html.RenderAction("_User_DropDown", "Product_Order");}

                </div>


                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">Order Date</label>
                    <input type="date" name="Date" class="form-control" />
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1"> Order time </label>
                    <input type="time" name="Time" class="form-control" />
                </div>
            </div> @*/row div*@
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">Return Date</label>
                    <input type="date" name="Date" class="form-control" />
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1"> Return time </label>
                    <input type="time" id="datepicker" class="form-control " />
                </div>
            </div> @*/row div*@
            <div>
                <div class="col-12">
                    <h1>Select Product</h1>
                </div>
            </div>
            <table id="ProductList">
                <thead>
                    <tr>
                        <th class="font-weight-bolder">Select Product</th>
                        <th class="font-weight-bolder" id="sel_prd">Product Rent</th>
                        <th class="font-weight-bolder" id="sel_prd">Advance Rent</th>
                        <th class="font-weight-bolder" id="sel_prd">Diopsit</th>
                        <th class="font-weight-bolder" id="sel_prd">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("_rent_Order", Model.Product)
                </tbody>
            </table>

            <div class="form-group Add_product_class my-lg-3">
                <input type="button" value="+ Add Product" class=" btn btn-outline-primary" id="add_Product" />
                <input type="button" value="Calculate" class=" btn btn-outline-danger mx-lg-5" id="calculate_rent" />
            </div>



        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-secondary">Submit</button>
            @*<a href="Manage_Category" class="Button btn btn-outline-secondary  mx-5">Back to Category List</a>*@
        </div>
    }
</div>
<script>
    //MULTIPLAY WITH QUANTITY
    $(document).ready(function () {
        $(document).on('click', '#add_Product', function (e) {
            $.ajax({
                url: '/Product_Order/_rent_Order',
                data: {
                    chnId: parseInt($("#ProductList tbody>tr").length)
                },
                success: function (partialView) {
                    $('#ProductList tbody').append(partialView);

                },
                error: function (partialView) {
                    alert("error")
                }
            });
        });

        @*Assign value*@
        $(document).on("change", 'input, select', function ()
        {
            debugger
            var ProductId = $(this).val();
            var $row = jQuery(this).closest("tr");
            var text = $row.data("id");
            console.log(text);
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '@Url.Action("Product_data", "Product_Order")',
                data: { ProductId: parseInt(ProductId)},
                success:
                    function (response) {
                        debugger;
                        // Generate HTML table.
                        $('tr[data-id="' + text + '"]').find('td>input[id="Product_rentPrice"]').val(response.rentPrice);
                        $('tr[data-id="' + text + '"]').find('td>input[id="Product_advanceRent"]').val(response.advanceRent);
                        $('tr[data-id="' + text + '"]').find('td>input[id="Product_diposit"]').val(response.diposit);
                        //console.log(this);
                        //$('#Product_rentPrice').val(response.rentPrice);
                        //$('#Product_advanceRent').val(response.advanceRent);
                        //$('#Product_diposit').val(response.diposit );
                    },
                error:
                    function (response) {
                        console.log(response);
                        alert("Error: " + response);
                    }
            });
        });
    });
</script>

@section script{

}